/* Eléments principaux de la page */

body
{
  font-family:
  color: black;
}

h1 {

}

h2 {
  padding: 30px 0 30px 0;
}

.important {
  font-weight: bold;
  font-style: italic;
}

/* Surlignage personnalisé

::selection{
  background-color: #444;
  color: white;
}

::-moz-selection {
  background-color: #444;
  color: white;
} */

/* Barre de navigation */

#navbar {
  width: 100%;
  position: fixed;
  background-color: #021738;
  padding: 12px;
  z-index: 16;
}

#navbar a, #navbar ul {
  margin-bottom: 0px;
}

#logo {
  font-weight: bold;
  font-size: 1.8em;
  color: white;
}

#logo a {
  color: white;
  text-decoration: none;
}

#navbar ul {
  padding-top: 6px;
}

#navbar ul li a {
  font-size: 1.1em;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 8px;
  color: white;
  text-decoration: none;
}

#navbar ul a:hover {
  transition: .6s ease;
  padding-bottom: 5px;
  border-bottom: white 1.2px solid;
}

/* Barre défilante */

#navbar_social {
  width: 100%;
  background-color: #bc1229;
  position: fixed;
  top : 59px;
  padding: 8px;
  z-index: 16;
  /*-webkit-animation: mymove 2s; /* Safari 4.0 - 8.0 */
  /*animation: mymove 2s;
  transition : all .8s; */
}

/*@keyframes mymove {
    0%   {top: 0px; background: #021738;}
    100% {top: 541px; background: #bc1229;}
}

/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes mymove {
    0%   {top: 0px; background: #021738;}
    100% {top: 541px; background: #bc1229;}
} */

#navbar_social a i {
  margin-right: 6px;
}

#navbar_social a {
  color: white;
  text-decoration: none;
}

#navbar_social a:hover {
  opacity: 0.4;
  transition: .8s ease;
}

/* Burger menu */

#burger_icon {
  visibility: hidden;
  color: white;
  position: fixed;
  top: 26px;
  right: 26px;
  padding: 10px;
  z-index: 16;
}

#burger_icon i {
  font-size: 1.4em;
}

.menuburger {
  background-color: #949ba8;
  height: 100vh;
  position : fixed;
  width: 200px;
  right: -200px;
  top: 0;
  transition: right .5s ease;
  z-index: 17;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.links a i {
  font-size: 1.6em;
}

.menuburger ul {
  padding : 15px;
}

.menuburger li {
  list-style-type: none;
  height: 40px;
}

.menuburger li a {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.menuburger li:hover {
  font-weight: bold;
  transition: .5s ease;
}

.menuburger.open {
  right: 0;
}

.menuburger li a.close {
  position: relative;
  top: 0;
  right: 0;
  font-size: 15px;
  color: white;
}

/* Media Queries burger menu */

@media screen and (max-width: 768px) {

  #navbar_part2, #navbar_social {
    display:none;
  }


  #burger_icon {
    visibility: visible;
  }

  #burger_icon:hover {
  cursor:pointer;
  }
}

@media screen and (min-width: 768px) {
  .menuburger {
    display: none;
  }
}

/* Carousel */

.main-slider {
  padding-top: 95px;
}

.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .next.left,
.carousel-fade .prev.right,
.carousel-fade .item.active { opacity: 1; }

.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
}
.carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
.carousel-control .next { margin-right: -15px; right: 50%; } /* Next */

/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}

/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
} 

/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  width: 100%;
  height: auto;
}



/* Actus */
#actus {
  padding-top: 30px;
  padding-bottom: 50px;
}

.card-title,
.card-text {
  width: 270px;
  margin: 10px;
}

.card {
  width: 290px;
}

.card-block a {
  width: 270px;
  margin: 10px;
}


/* Story Section */

#story-section {
  padding-bottom: 30px;
}

/* Intermediary section*/

.menu-text {
  padding: 35px 5px 20px 0;
}

.intermediaire button {
  width: 150px;
}

/* Contact Page: styles */

.contact-section h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.contact-image {
  padding-top: 175px;
}

.name-form-input input {
  height: 50px;
}

.surname-form-input input {
  height: 50px;
}

textarea.form-control {
  height: 170px;
  margin-bottom: 20px;
}

.form-button {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  text-transform: uppercase;
  padding: 5px;
}

.form-button:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}

/* Lieux et horraires */

.noustrouver {
  margin-top: 100px;
}

.noustrouver h2 {
  padding-bottom: 30px;
}

.table-style {
  padding-bottom: 30px;
}

.jours {
  background-color: #4e535b;
  color: white;
  margin-top: 10px;
  padding-top: 10px;
}

.evenements {
  margin-top: 70px;
  margin-bottom: 30px;
}

.evenements h2 {
  margin-bottom: 30px;
}

.evenements li {
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.responsive {
  width: 100%;
}

/* Menu Page: styles */

.menu-section {
  margin-top: 90px;
}

.menu-section .line{
  width: 100%;
  background-color:rgba(147, 154, 168, 0.4);
    width:100%;
    border-radius: 4px;
    padding-bottom: 30px;
}

.menu-section h2{
  padding-top: 30px;
  padding-bottom: 10px;
}

.menu-section p {
  text-align: justify;
  margin: 20px;
  opacity: 0.75;
}

.menu-section .row {
    margin-top:20px;
}


.card-menu .img-menu {
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-menu {
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: center;
   transition: all 0.5s ease;
}

.card-menu:hover {
  background: rgba(237,237,237, 0.5);
  padding: 20px;
}

.card-menu .info-all {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  margin-bottom: 20px;
}
/* Media queries: Menu; */

@media screen and (min-width: 450px) and (max-width: 990px) {
  .card-menu .img-menu {
    margin-top: 50px;
    width: 50%;
  }
  .menu-section p {
  text-align: center;

  }

  .card-menu{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* FOOTER styles */

footer {
  background-color:#344560;
}

footer .container-fluid{
  margin-right: -15px;
  margin-left: -15px;
}

footer .logol {
  margin: 25px;
}

footer .text-footer{
  margin: 30px;
  padding: 20px;
  text-align:right;
}

footer #mentions{
  text-decoration: none;
  color: white;

}

footer .three{
  background-color:#344560;

}

footer p{
  line-height: 20px;
  color: white;
}