/* Eléments principaux de la page */

body
{
  font-family: 'Open Sans', sans-serif;
  color: black;
}

h1 {
  padding: 20px 0 20px 0;
  color: #012051;
  font-weight: 700;
}

h2 {
  padding: 15px 0 15px 0;
  color: #b3b3b3;
  font-weight: 700;
}

.important {
  font-weight: 700;
}

/* Surlignage personnalisé

::selection{
  background-color: #444;
  color: white;
}

::-moz-selection {
  background-color: #444;
  color: white;
} */

/* Header */

#logo {
  width: 48%;
  height: 48%;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  line-height: 0;
  z-index: 16;
}

.list-inline {
  margin-left: 0;
}

#links {
  padding-top: 22px;
}

#links li a i {
  font-size: 1.6em;
  color: #b3b3b3;
  margin-right: 6px;
  margin-left: 6px;
}

#links li:hover {
  opacity: 0.7;
  transition: .8s ease;
}

#menu {
  margin-top: 10px;
}

#menu li {
  padding-top: 24px;
  height: 40px;
  padding-right: 25px;
  padding-left: 25px;
}

#menu li a {
  font-size: 1.05em;
  color: #012051;
  font-weight: 700;
  text-decoration: none;
  height: 40px;
  padding-left: 6px;
}

#menu li a:hover {
  padding-top: 24px;
  background: url("../img/puce.svg") center left no-repeat;
  transition: 1s ease;
}

#menu .navactive {
  color : #b3b3b3;
}

/* Burger menu */

#burger_icon {
  visibility: hidden;
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 8px;
  z-index: 16;
  color: #b3b3b3;
}

#burger_icon i {
  font-size: 1.5em;
}

.menuburger {
  background-color: white;
  height: 100vh;
  position : fixed;
  width: 200px;
  right: -200px;
  top: 0;
  transition: right .5s ease;
  z-index: 17;
}

#links_burger {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#links_burger a i {
  font-size: 1.7em;
  color: #b3b3b3;
}

.menuburger ul {
  padding : 15px;
  margin-bottom: 0px;
}

.menuburger li {
  list-style-type: none;
  height: 40px;
}

.menuburger li a {
  color: #012051;
  font-weight: 700;
  text-decoration: none
  font-size: 1em;
  padding-left: 6px;
}

#burgernav li a:hover {
  padding-top: 24px;
  background: url("../img/puce.svg") center left no-repeat;
  transition: 1s ease;
  text-decoration: none;
}

#burgernav .navactive {
  color : #b3b3b3;
}

#links_burger a i:hover {
  opacity: 0.7;
  transition: .8s ease;
  text-decoration: none;
}

.menuburger.open {
  right: 0;
}

.menuburger li a.close {
  position: relative;
  top: 10;
  right: 10;
  font-size: 15px;
  color: #012051;
}

/* Media Queries header */

@media screen and (max-width: 992px) {
  #links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  #links li a i {
  font-size: 1.2em;
  padding-top: 4px;
  }

  #links {
  padding-top: 0;
  }
}

@media screen and (max-width: 911px) {
  #menu li {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 852px) {
  #menu li {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 791px) {
  #menu li {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {

  #navbar ul {
    display:none;
  }

  #burger_icon {
    visibility: visible;
  }

  #burger_icon:hover {
  cursor:pointer;
  }

}

@media screen and (min-width: 768px) {
  .menuburger {
    display: none;
  }

  .scrolled-nav {
  background-color : #012051;
  }

}

/* Footer styles */

footer {
  margin-top : 40px;
  background-color: #f2f2f2 ;
  color: #021738;
  padding-top: 6px;
  padding-bottom: 6px;
}

footer a {
  color: #021738;
}

footer .trylogo{
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(../img/smoky_logo.svg);
  background-size: contain;
  padding-left:  227px;
}


footer ul {
  list-style-type: none;
  margin-bottom: 0px;
}


#mentions {
  padding-top: 30px;
}

#mentions a {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  footer .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items :center;
  }
}

/* Site-Mentions styles */
.div-mentions{
  margin-right: -15px;
  margin-left: -15px;
}
.site-mentions{
  margin-top: 25px;
  line-height: 20px;
  padding: 20px;
  text-align: justify;
}

.img-mentions{
  width: 100%;
  height: 500px;
}

/* Chapô */
#text-intro {
  font-size : 1.2em;
}

/* Carousel */

.main-slider {
  padding-top: 66px;
}

.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .next.left,
.carousel-fade .prev.right,
.carousel-fade .item.active { opacity: 1; }

.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* Safari Fix Carousel */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
}
.carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
.carousel-control .next { margin-right: -15px; right: 50%; } /* Next */

/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}

/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
}

/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  width: 100%;
  height: auto;
}

/* Actus */

.card-title {
  margin: 30px;
  text-align:center;
  }

.card-text {
  width: auto;
}

div.card-block.card-holder{
  margin: 15px;
}

.card {
  width: auto;
  padding: 10px;
  margin: 20px;
}

/*.card-block a {
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 0;
}

.card-block a:hover {
  color: #ffffff;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  transform: scale(1.2);
  transition: all 900ms;
  letter-spacing: 2px;
}*/

/* Intermediary section*/

.intermediaire {
  background : url('7011.svg');
}

section#menu-horaires.intermediaire{
  background-color: #e4e4e4;
  margin: 0;
  padding: 90px;
}

.menu-text {
  margin-top: 35px;
  margin-bottom: 60px;
  padding: 35px 35px 20px 0;
}

.intermediaire button {
  width: 150px;
  margin: 10px;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border-color: #000000;
  border-radius: 0;
  background-color: white;
}

.intermediaire button:hover {
  color: #ffffff;
  color: black;
  background-color: transparent;
  border-color: #000000;
  transform: scale(1.2);
  transition: all 900ms;
  letter-spacing: 0.5px;
  background-color: white;
}

/* Story Section */

div.col-md-10.text-center{
  padding-bottom: 20px;
  text-align: right;
}

.histo-text{
  padding-left: 55px;
}

/* Menu Page: styles */

.menu-section {
  margin-top: 50px;
}

.menu-section .line{
    width: 100%;
    border-radius: 4px;
    padding-bottom: 30px;
}

.line-entree{
  background-color:rgba(2, 19, 58, 0.5);
}

.line-plats{
  background-color:rgba(203, 0, 16, 0.5);
}

.line-desserts{
  background-color:rgba(2, 19, 58, 0.5);
}

.menu-section h2{
  padding-top: 30px;
  padding-bottom: 10px;
}

.menu-section p {
  text-align: justify;
  margin: 20px;
  opacity: 0.75;
}

.menu-section .row {
    margin-top:20px;
}

.card-menu .img-menu {
  width:100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-menu {
  background-color: #FFFFFF;
  padding:0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  margin-bottom: 50px;
  margin-top: 25px;
  text-align: center;
 transition: all 0.5s ease;
}

.card-menu:hover {
  background: rgba(237,237,237, 0.5);
  padding: 20px;
}

.card-menu .info-all {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  margin-bottom: 20px;
}
/* Media queries: Menu; */

@media screen and (min-width: 450px) and (max-width: 990px) {
  .card-menu .img-menu {
    margin-top: 50px;
    width: 50%;
  }
  .menu-section p {
  text-align: center;

  }

  .card-menu{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Lieux et horraires */

.noustrouver {
  margin-top: 50px;
}

.noustrouver h2 {
  padding-bottom: 30px;
}

.table-style {
  padding-bottom: 30px;
}

.jours {
  background-color: #4e535b;
  color: white;
  margin-top: 10px;
  padding-top: 10px;
}

.evenements {
  margin-top: 70px;
  margin-bottom: 30px;
}

.evenements h2 {
  margin-bottom: 30px;
}

.evenements li {
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.responsive {
  width: 100%;
}

/* Contact Page: styles */

.contact-section h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.contact-image {
  padding-top: 66px;
}

.name-form-input input {
  height: 50px;
}

.surname-form-input input {
  height: 50px;
}

textarea.form-control {
  height: 170px;
  margin-bottom: 20px;
}

.form-button {
/*  color: #000000;
  background-color: #ffffff;
  border-color: #000000;*/
  text-transform: uppercase;
  /*padding: 5px;*/
}

.form-button:hover {
/*  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;*/
}

.form-button {
  width: 100px;
  margin: 10px;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border-color: #000000;
  border-radius: 0;
  padding: 3px;
}

.form-button:hover {
  color: #ffffff;
  color: black;
  background-color: transparent;
  border-color: #000000;
  transform: scale(1.2);
  transition: all 600ms;
  letter-spacing: 0.5px;
}