extends admin_layout

block css
  link(rel='stylesheet', type='text/css', href='/stylesheets/admin_index_style.css')

block content
  .container
    .row.logoutrow
      .col-xs-1.col-xs-offset-11
        a(href="/login" class="logout") Logout
    .row
        h2.text-center Smoky Truck : espace administrateur
    .row
      img.img-responsive(src='../images/smoky_logo.svg', alt='Logo SMoky Truck', id="logo")
    .row
      h3.text-center Actualités
    .row
      a(href="/admin/create" class="btn btn-info") Créer une actualité
      br
      p
        span.warning Attention seules les 3 dernières actualités créées apparaîtront sur la page d'accueil du site, par ordre descendant.
    .row
      table.table.table-striped.table-bordered.table-responsive.table-condensed
        tr
          th.text-center #
          th.text-center Titre
          th.text-center Sous-titre
          th.text-center Texte
          th.text-center Image
          th.text-center Action

          each row in actus
            tr 
              td.text-center= row.id
              td.text-center= row.titre
              td.text-center= row.sous_titre
              td.text-center!= row.texte
              td.text-center
                img(src="/images/" + row.image, alt='' + row.image, width='150')
              td.text-center
                a(href="/admin/supprimer/" + row.id onclick="return confirm('Voulez-vous supprimer cet élément ?');") Supprimer
                br
                br
                a(href="/admin/modifier/" + row.id) Modifier
    .row
      h3.text-center Menu
    .row
      a(href="/admin/create-menu" class="btn btn-info") Créer une entrée / plat / dessert
      br
      p
        span.warning Attention, l'affichage est limité à 4 cartes pour les entrées et desserts et à 6 pour les pizzas.
    .row
      table.table.table-striped.table-bordered.table-responsive.table-condensed
        tr
          th.text-center #
          th.text-center Catégorie
          th.text-center Titre
          th.text-center Descriptif
          th.text-center Prix
          th.text-center Infos nutritionnelles
          th.text-center Image
          th.text-center Action
    .row
      h3.text-center Adresses