extends admin_layout

block css
  link(rel='stylesheet', type='text/css', href='/stylesheets/admin_create_actu_style.css')

block content
    .container
      .row
        h2.text-center Espace administrateur : création d'une actualité
      .row
        img.img-responsive(src='../images/smoky_logo.svg', alt='Logo SMoky Truck', id="logo")
      .row
        a.text-center(href="index/" class="btn btn-info") <- Retour à la liste
      
      br
      br
      .row
        form(method="POST" enctype="multipart/form-data" )
          .form-group
            label(for='category') Category* - 50 caractères max
            input#category.form-control(type='number' name="category" maxlength="50")

          .form-group
            label(for='name') Titre* - 50 caractères max
            input#name.form-control(type='text' name="name" maxlength="50")



          .form-group
            label(for='description') Description*
            textarea#description.form-control(placeholder='Délicieux et sublime' name="description" )



          .form-group
            label(for='price') Prix* - 10 caractères max
            input#price.form-control(type='text' name="price" maxlength="10")


          .form-group
            label(for='pieces') Nombre de pièces* - 10 caractères max
            input#pieces.form-control(type='text' name="pieces" maxlength="10")



          .form-group
            label.warning(for='icon') Icône* - Fichier jpg ou png de 3 mo max, format conseillé : 300px * 200 px
            br
            input#icon.form-control(type='file' name="icon" accept="image/*")
          p * Champ obligatoire
          .form-group
            label.warning(for='image') Image* - Fichier jpg ou png de 3 mo max, format conseillé : 300px * 200 px
            br
            input#image.form-control(type='file' name="image"  accept="image/*")
          p * Champ obligatoire
          button.btn.btn-default(type='submit' onclick="return confirm('Voulez-vous créer cet élément ?');") Créer
      script(src='https://cloud.tinymce.com/stable/tinymce.min.js')
      script.
          tinymce.init({ selector:'textarea'});