extends admin_layout

block css
  link(rel='stylesheet', type='text/css', href='/stylesheets/admin_create_actu_style.css')

block content
  .container
    .row
      h2.text-center Espace administrateur : mettre à jour adresse
    .row
      img.img-responsive(src='/images/smoky_logo.svg', alt='Logo SMoky Truck', id="logo")
    .row
      a.text-center(href="/admin/horaires" class="btn btn-info") <- Retour à la liste
    br
    br
    .row
      form(method="POST")
        .form-group
          input(type='radio', name='button', value='104 Rue d\'Auberviliers Paris, 75019')
          |  104 Rue d'Auberviliers Paris, 75019 (Smoky 104)
          br
          input(type='radio', name='button', value='11 Rue de Poissy Paris, 75005')
          |  11 Rue de Poissy Paris, 75005 (Smoky Rive Gauche)
          br
          input(type='radio', name='button', value='4 Rue Eugène Spuller Paris, 75003')
          |  4 Rue Eugène Spuller Paris, 75003 (Smoky Rive Droite)
        button.btn.btn-default(type='submit') Enregistrer
