extends admin_layout
block content
  .container
    .row
      h2.text-center Smoky Truck : espace administrateur
    .row
      p.col-xs-4.col-xs-offset-4.text-center
        img.img-responsive(src='../images/chef.jpg', alt='Photo chef')
    .row
      h3.text-center Actualités
    .row
      table.table.table-striped.table-bordered
        tr
          th.text-center #
          th.text-center Image
          th.text-center Titre
          th.text-center Texte
          th.text-center Action

          each card in actus
            tr 
              td.text-center= card.id
              td.text-center
                img(src="/images/" + card.image, alt='' + card.image, width='150')
              td.text-center= card.titre 
              td.text-center= card.texte
              td.text-center 
                a(href="/admin/supprimer/" + card.id) Supprimer
    .row
      a(href="/admin/create" class="btn btn-info") Création d'une actualité
      br
      br 