extends layout

block css
	link(rel='stylesheet', type='text/css', href='/stylesheets/contact_style.css')

block content

	.container
		.row
			.col-xs-10.col-xs-offset-1
				img.contact-image.img-responsive(src='/images/contact.png', alt='contact image')
	section.contact-section
		.container
			.row
				.col-xs-12
					h2.text-center Nous contacter
					p= error
					form#contact.form-horizontal(action='/submit', method='post', name='contact')
						fieldset
							// Name
							.form-group.name-form-input
								.col-md-10.col-md-offset-1
									input#contact_name.form-control.input-md(name='name', type='text', placeholder='Nom*')
							// E-mail
							.form-group.surname-form-input
								.col-md-10.col-md-offset-1
									input#contact_email.form-control.input-md.champ(name='email', type='email', placeholder='Email*')
							// Message
							.form-group.message-form-input
								.col-md-10.col-md-offset-1
									textarea#contact_message.form-control(placeholder='Message* - 300 caractères max', name='message', type= 'text')
							// Bouton validation
							.row
								.col-md-4.col-md-offset-7
									.g-recaptcha(data-sitekey='6Ld4MTUUAAAAAI6rwEVLpeSTA1DifCRGjj7OYAIh')
							#contact_submit.form-group
								.col-md-4.col-md-offset-8
									button.form-button(type='submit')
										| Envoyer