extends layout

block css
	link(rel='stylesheet', type='text/css', href='/stylesheets/error_style.css')

block content
	.container
		.row
				p.col-xs-12.text-center
					img.img-responsive(src='images/pizza-not-found.jpg', alt='Image of a delicious pizza')
	section#error
	.container
		h1= message
		h2= error.status
		pre #{error.stack}
		.row
			.col-xs-10.col-xs-offset-1.text-center

				h2 Hello, pizza lover !
				h2 We're sorry, we couldn't find this page...
				a(href="/" class="btn btn-info") Retour accueil