footer
	.row
		#mentions.col-sm-offset-2.col-sm-3.text-center
			p Site internet mijoté par Smoky Truck en 2017
			p
				a(href='/mentions') Mentions légales
		.col-sm-offset-8.text-center
			a(href='/')
				.trylogo