extends layout

block css
	link(rel='stylesheet', type='text/css', href='/stylesheets/index_style.css')

block content

	// Caroussel
		==================================================
	section.main-slider
		#myCarousel.carousel.slide.carousel-fade(data-ride='carousel')
			// Carousel items
			.carousel-inner
				.item.active
					img(src='images/carousel1.jpg', alt='')
				.item
					img(src='images/carousel2.jpg', alt='')
				.item
					img(src='images/carousel3.jpg', alt='')
				.item
					img(src='images/carousel4.jpg', alt='')
			// Controls
			.control-box
				a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
					span.control-icon.prev.fa.fa-chevron-left(aria-hidden='true')
					span.sr-only Previous
				a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
					span.control-icon.next.fa.fa-chevron-right(aria-hidden='true')
					span.sr-only Next

	// Intro Smoky
		==================================================
	section#intro
		.container
			.row
				h1.col-xs-10.col-xs-offset-1.text-center
					| Embarquez à bord du
					span.important  Smoky Truck !
			.row
				.col-xs-10.col-xs-offset-1
					p#text-intro.text-justify
						| Depuis 2017, notre food truck "enfumé" sillonne les rues de la capitale pour vous proposer des pizzas fraîches aux inspirations multiples... Venez déguster nos succulentes réalisations!

	// Actualités
		==================================================
	section#actus
		.container
			.row
				.col-md-12.text-center
					h2 Nos actualités
			#actus_cards
				each card in actus
					.card
						img(src="/images/" + card.image, alt='' + card.image)
						h4.card-title
							a(href="/actu-" + card.id)= card.titre
						p.text-justify= card.sous_titre
							br
							p.text-center
								a(href="/actu-" + card.id) Voir plus

	// Section intermédiaire
		==================================================
	section#menu-horaires.intermediaire
		.container
			.row
				.col-xs-10.col-xs-offset-1.col-md-5
					img.img-responsive(src='images/chef.jpg', alt='Our Smoky Truck chef cooking')
				.col-xs-10.col-xs-offset-1.col-md-4
					.row
						.col-md-12.col-xs-12
							p.text-justify.menu-text
								| Le Smoky Truck vous propose de déguster toute l'année des pizzas cuisinées à partir de produits frais et de qualité. Nous faisons appel à notre créativité pour vous proposer régulièrement de nouvelles recettes ainsi que des entrées et desserts. Venez découvrir notre carte du moment!
					.row
						.col-md-5.col-xs-12.text-center
							a(href='/menu')
								button.btn.btn-primary.inter-button(type='button') Notre menu
						.col-md-5.col-md-offset-1.col-xs-12.text-center
							a(href='/lieux-hor')
								button.btn.btn-primary.inter-button(type='button') Lieux/Horaires

	// Notre histoire
		==================================================
	section#story-section
		.container
			.row
				h2.text-center Notre histoire
			.row
				.col-xs-10.col-xs-offset-1.col-md-5
					img.img-responsive(src='images/story.jpg', alt='')
				.col-xs-10.col-xs-offset-1.col-md-4
					p.text-justify.histo-text
						| Le Smoky Truck est né de la rencontre de 2 chefs: Sergio et Roberto. Alors qu'ils exercent dans un restaurant étoilé parisien, ils souhaitent renouer avec la simplicité de la cuisine en se tournant vers les pizzas, plats aux accents de nostalgie. De même, à travers le format du food truck, ses fondateurs cherchent à apporter à leurs clients plus de simplicité et de convivialité.
