extends layout

block css
	link(rel='stylesheet', type='text/css', href='/stylesheets/mentions_style.css')

block content
	section.container-fluid.div-mentions
	img.img-mentions.img-responsive(src='images/carousel1.jpg', alt='')
	.site-mentions
	p
		| En vertu de l’article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé dans cet article l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi. Le site SmokeyTruck est édité par SmokeyTruck, dont le siège siège social est situé 15 rue Ledru-Rollin 750511 Paris, et immatriculée au RCS Paris 123 456 790 0000. Le directeur de publication du site est M. Camille. Le site SmokeyTruck est hébergé par WCS, dont le siège est à 11 rue de Poissy, 75005 Paris.