extends layout.pug

block css
  link(rel='stylesheet', type='text/css', href='/stylesheets/menu_style.css')

block content
  //Entrées==================================================
  .container
    section.menu-section
        .row
          .col-md-12.line
            h2.text-center Entrées
        .row
          .col-md-3
            .card-menu
              img.img-menu(src='/images/entrée1.jpg', alt='Entrée 1')
              h3.text-center Smoky Brushettas
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              h4.text-center
                | 4€ 
                span.petit (2 pièces)
              img.info-all(src='images/picto_vege.png', alt='Végétarien')