extends layout.pug

block css
	link(rel='stylesheet', type='text/css', href='/stylesheets/menu_style.css')

block content
	doctype html
	html
		body
			//Entrées==================================================
			.container
				section.menu-section
				each val in menu
					.row
						.col-md-12.line
							h2.text-center Entrées
					.row
						include Entree.pug
						.entrees
							+entree(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
							+entree(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
							+entree(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
							+entree(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
					// Pizzas==================================================
					.row
						.col-md-12.line
							h2.text-center Pizzas
					.row
						include Pizza.pug
						.pizzas
							+pizza(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
							+pizza(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
							+pizza(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
					.row
						.pizzas
							+pizza(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
							+pizza(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
							+pizza(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
					// Desserts==================================================
					.row
						.col-md-12.line
							h2.text-center Desserts
					.row
						include Dessert.pug
						.desserts
							+dessert(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
							+dessert(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
							+dessert(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
							+dessert(val.image, val.name, val.name, val. description, val.price, val.pieces, val.icon, val.icon)
