extends layout.pug

block css
	link(rel='stylesheet', type='text/css', href='/stylesheets/menu_style.css')

block content
	doctype html
	html
		body

			.container
				section.menu-section
					.row
						.col-md-12.line
							h2.text-center Entrées
					.row
						include Entree.pug
						.entrees
							+entree(entree[0])
							+entree(entree[1])
							+entree(entree[2])
							+entree(entree[3])


					.row
						.col-md-12.line
							h2.text-center Pizzas	
					.row
						include Pizza.pug
						.pizzas
							+pizza(pizza[0])


					.row
						.pizzas
