.contact-section h2, .contact_ok {
	padding-top: 30px;
	padding-bottom: 10px;
}

.contact-image {
	padding-top: 66px;
}

.form-input input {
	height: 50px;
}

textarea.form-control {
	height: 170px;
}

textarea {
	resize: none;
}

button {
	width: 10%;
	padding: 8px;
	color: #ffffff;
	background-color: #1946a6;
	border-color: #000000;
}

button:hover {
	color: #ffffff;
	background-color: #1946a6;
	border-color: #000000;
	opacity: 0.8;
	transition: .8s ease;
}

.btn-info {
	margin: 10px;
	color: #ffffff;
	background-color: #1946a6;
	border-color: #000000;
}

.btn-info:hover {
	color: #ffffff;
	background-color: #1946a6;
	border-color: #000000;
	opacity: 0.8;
	transition: .8s ease;
}