.container {
	padding-top: 30px;
	padding-bottom: 10px;
}

.btn-info {
	margin: 10px;
	color: #ffffff;
	background-color: #1946a6;
	border-color: #000000;
}

.btn-info:hover {
	color: #ffffff;
	background-color: #1946a6;
	border-color: #000000;
	opacity: 0.8;
	transition: .8s ease;
}

a {
	color:white;
}

a:hover {
	color:white;
}