.noustrouver {
	margin-top: 50px;
}

.noustrouver h2 {
	padding-top: 40px;
	padding-bottom: 30px;
}

.table-style {
	padding-bottom: 30px;
}

.hauttableau{
	background-color: #4e535b;
	color: white;
	margin-top: 10px;
	padding-top: 10px;
}

.evenements {
	margin-top: 70px;
	margin-bottom: 30px;
}

.evenements h2 {
	margin-bottom: 30px;
}

.evenements li {
	list-style-type: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.responsive {
	width: 100%;
}

#map {
	width: 100%;
	height: 600px;
}
