.div-mentions{
 	margin-right: -15px;
 	margin-left: -15px;
}
.site-mentions{
 	margin-top: 25px;
 	line-height: 20px;
 	padding: 20px;
 	text-align: justify;
}

.img-mentions{
 	width: 100%;
 	height: 500px;
}