.menu-section {
	margin-top: 80px;
}

.menu-section .row {
	margin-top:10px;
	margin-bottom: 10px;
}

.menu-section .line{
		width: 100%;
		border-radius: 4px;
}

.menu-section p {
	text-align: justify;
	margin: 15px;
	opacity: 0.75;
}

.card-menu .img-menu {
	width:100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.card-menu {
	background-color: #FFFFFF;
	padding:0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius:4px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
 	transition: all 0.5s ease;
 	overflow: hidden;
	word-wrap: break-word;
}

.card-menu h3 {
	height: 40px;
}

.card-menu h4 {
	height: 37px;
}

/*.card-menu:hover {
	background: rgba(237,237,237, 0.5);
	padding: 20px;
} */

.card-menu .info-all {
	margin-left: auto;
	margin-right: auto;
	display: inline;
	margin-bottom: 20px;
}

/* Media queries */

@media screen and (min-width: 450px) and (max-width: 990px) {
	.card-menu .img-menu {
		margin-top: 50px;
		width: 50%;
	}
	.menu-section p {
	text-align: center;

	}

	.card-menu{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}
